<div id="<%= dom_id fixture %>">
  <p>
    <strong>Match date:</strong>
    <%= fixture.match_date %>
  </p>

  <p>
    <strong>Match time:</strong>
    <%= fixture.match_time %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= fixture.table_id %>
  </p>

  <p>
    <strong>League:</strong>
    <%= fixture.league_id %>
  </p>

  <p>
    <strong>Opponent:</strong>
    <%= fixture.opponent %>
  </p>

</div>
